/*@import '~antd/dist/antd.css';*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
form {
	display: flex;
	flex-direction: row;
	width: 50em;
	border: 1px solid #f1f1f1;
}

input[type='text'],
input[type='password'] {
	width: 12em;
	padding: 12px 20px;
	margin: 8px 0;

	justify-content: center;

	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

.tg {
	border-collapse: collapse;
	border-color: #93a1a1;
	border-spacing: 0;
	width: 70%;
	margin: 0px auto;
}
.tg td {
	background-color: #fdf6e3;
	border-color: #93a1a1;
	border-style: solid;
	border-width: 1px;
	color: #002b36;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}
.tg th {
	background-color: #657b83;
	border-color: #93a1a1;
	border-style: solid;
	border-width: 1px;
	color: #fdf6e3;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}
.tg .tg-affx {
	background-color: #fdf6e3;
	border-color: inherit;
	text-align: left;
	vertical-align: top;
}
.tg .tg-f9cb {
	background-color: #688f8b;
	border-color: inherit;
	text-align: left;
	vertical-align: top;
}
.tg .tg-0pky {
	border-color: inherit;
	text-align: left;
	vertical-align: top;
}
.tg .tg-73oq {
	border-color: #000000;
	text-align: left;
	vertical-align: top;
}
.tg .tg-f8tv {
	border-color: inherit;
	font-style: italic;
	text-align: left;
	vertical-align: top;
}
.tg .tg-y698 {
	background-color: #efefef;
	border-color: inherit;
	text-align: left;
	vertical-align: top;
}
